<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded"><i>&quot;I see 3D&quot;</i></p>
                <h2 class="section-heading">About making life easier</h2>
                <hr class="light">
                <div class="text-justify">
                    <p> My software tells BMW about the quality of their
                        car parts, powers a Navy's underwater robot in the baltic sea and speeds up processes in REWE's
                        automated warehouses. I am Sönke Greve, a certified product owner and professional in the field
                        of artificial intelligence and image processing. Nice to meet you!
                    </p>
                    <p class="text-faded">Invite me for a coffee and let's talk about your daily business and known pain
                        points. It's astonishing what the latest advancements in artificial intelligence, machine
                        learning, cloud computing or industry 4.0 can do for you. You'll be surprised how simple
                        solutions can be - even for complex problems.
                    </p>
                    <p>So, what makes the difference? I won't be throwing some fancy concepts your way
                        and present a bill. Together with you and my partners we'll build the solution from ground up and
                        walk the extra mile until <i>go live</i> and beyond.
                    </p>
                    <p class="text-faded">So, let's find a way to make your life easier ...</p>
                </div>
                <a href="#contact" target="_blank" class="btn btn-default btn-xl page-scroll">Let's
                    have a coffee</a>
            </div>
        </div>
    </div>
</section>
