<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Need to know more?</h2>
            <a href="https://my.visualcv.com/icy3d/" target="_blank" class="btn btn-default btn-xl wow tada">Download
                CV!</a>
        </div>
    </div>
</aside>
