<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p class="text-justify">Do you have general questions or need input about your next project? That's great!
                    Give me a call or send me an email and I'll get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-4 col-lg-offset-0 text-center">
                <a href="tel:{{ site.phone }}">
                    <i class="fa fa-phone-alt fa-3x wow bounceIn" data-wow-delay=".2s"></i>
                    <p>{{ site.phone }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" style="padding-left: 0; padding-right: 0; padding-bottom: 0">
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10099.76603886342!2d7.1519331!3d50.7395737!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf9280e5c6448554!2sIcy%203D!5e0!3m2!1sde!2sde!4v1672073355863!5m2!1sde!2sde"
            width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>