<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="static/img/redphoto.jpg" class="portrait img-circle" style="border: 1px solid #212121;"
                 alt="S&ouml;nke Greve | Freelancing Computer Vision Expert">
            <h4>Freelancing expert in</h4>
            <h1>Computer Vision &amp; AI</h1>
            <hr>
            <p>Delivering commercial class software for
                <script type="text/javascript">
                    let years = new Date().getFullYear() - 1996;
                    document.write(years.toString());
                </script>
                years.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
