<div id="job_0002" class="panel panel-default">
    <div class="panel-heading" role="tab" id="job_0002_title">
        <div class="row">
            <div class="col-sm-10">
                <i class="fa fa-2x fa-file-code text-primary job-icon"></i>&nbsp
                <h3 class="job-title"><b>Image Processing Engineer</b>&mdash; Student C++ Developer</h3>
            </div>
            <div class="col-sm-2 text-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#job_0002_content"
                        aria-expanded="false" aria-controls="job_0002_content">
                    <i class="fa fa-info-circle"></i> Details
                </button>
            </div>
        </div>
    </div>
    <div id="job_0002_content" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="job_0002_content">
        <div class="panel-body facts text-primary">
            <div class="row">
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-user-graduate"></i>
                    <span>Student</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-calendar-alt"></i>
                    <span>asap</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-clock"></i>
                    <span>20h/week</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="https://goo.gl/maps/K16ePUpFuwnmfg4F6" target="_blank">Bonn</a>
                </div>
            </div>

            <h4>Description</h4>
            <p class="text-muted text-justify">Help us build a new kind of 3D sensor. This sensor will
                scan manufactured industrial components and try to recreate them as highly detailed digital
                models. For the reconstruction of the 3D surface we need to calibrate a specific sensor
                prototype.</p>
            <ol class="text-muted">
                <li>An algorithm must be implemented for training the sensor's calibration data.</li>
                <li>The algorithm must be validated in a simulated environment before working with
                    hardware.
                </li>
            </ol>
            <p class="text-muted text-justify">
                We'll use a scientific paper as proposal for the training algorithm. The proposed approach
                is a bit complex and covers several steps. Hence, it is necessary to make sure everything is
                implemented correctly by writing proper software tests. A 3D modeling environment will be
                used to simulate the sensor's behaviour and generate representative test data. After having
                developed a solid solution in a simulated environment it is possible to start working with
                real hardware. Since it is hardly possible to simulate every aspect of the hardware the
                algorithm and the hardware might need adjustments regarding the specifics. Your initial
                work will focus on the calibration algorithm entirely. In the long run the focus will shift
                towards the highest priority tasks contributing to the product vision.
            </p>
            <div class="job-image-horizontal">
                <img src="/static/img/jobs/job_0002.jpg" class="img-responsive">
            </div>

            <h4>Requirements</h4>
            <ul class="text-muted">
                <li>you are a student in an IT related field or have practical experience in image
                    processing
                </li>
                <li>you have practical experience in an object-oriented programming language &ndash; ideally
                    C++
                </li>
                <li>you have worked with some kind of version control before &ndash; ideally Git</li>
                <li>you know yourself around in Linux</li>
                <li>you can communicate in English</li>
                <li>you have the capacity and willingness to learn</li>
            </ul>
            <p class="text-muted text-justify">Nice to have:</p>
            <ul class="text-muted">
                <li>experience in image processing with OpenCV</li>
                <li>experience in agile methodology &ndash; Scrum, Kanban, OKR, ...</li>
                <li>knowledge about functional programming concepts</li>
                <li>you can communicate in German</li>
            </ul>

            <h4>How to apply</h4>
            <p class="text-muted text-justify">Please send a concise E-Mail to
                <a href="mailto:jobs@icy3d.com?subject=Robotics Engineer&body=Hello Icy3D, I'm ..."
                   target="_blank">jobs@icy3d.com</a>. You can write in English or German. Make sure you
                provide the following documents and information:
            </p>
            <ul class="text-muted">
                <li>your CV</li>
                <li>references &amp; work examples if available</li>
                <li>earliest possible date of entrance</li>
                <li>desired salary / hourly rate</li>
            </ul>
            <p class="text-muted">We will reply within 3 to 4 workdays.</p>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:jobs@icy3d.com?subject=Application as image processing engineer"
                       class="btn btn-primary"><i class="fa fa-envelope"></i> Apply</a>
                    <a id="job_0002_share" class="btn btn-primary" href="#job_0002_popup" rel="modal:open"><i
                            class="fa fa-share-alt"></i> Share</a>
                </div>
            </div>

            <div id="job_0002_popup" class="modal">
                <h5>Direct link to the job:</h5>
                <div class="row">
                    <div class="col-lg-9">
                        <div id="job_0002_link" class="well well-sm job-link">#job_0002</div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <a class="btn btn-primary" onclick="onCopyClick('#job_0002_link');" rel="modal:close"><i
                                class="fa fa-copy"></i> Copy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
