<div id="job_0001" class="panel panel-default">
    <div class="panel-heading" role="tab" id="job_0001_title">
        <div class="row">
            <div class="col-sm-10">
                <i class="fa fa-2x fa-file-code text-primary job-icon"></i>&nbsp
                <h3 class="job-title"><b>Robotics Engineer</b>&mdash; Student C++ Developer</h3>
            </div>
            <div class="col-sm-2 text-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#job_0001_content"
                        aria-expanded="false" aria-controls="job_0001_content">
                    <i class="fa fa-info-circle"></i> Details
                </button>
            </div>
        </div>
    </div>
    <div id="job_0001_content" class="panel-collapse collapse" role="tabpanel"
         aria-labelledby="job_0001_content">
        <div class="panel-body facts text-primary">
            <div class="row">
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-user-graduate"></i>
                    <span>Student</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-calendar-alt"></i>
                    <span>asap</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-clock"></i>
                    <span>20h/week</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="https://goo.gl/maps/K16ePUpFuwnmfg4F6" target="_blank">Bonn</a>
                </div>
            </div>

            <h4>Description</h4>
            <p class="text-muted text-justify">Help us build a new kind of 3D sensor. This sensor will scan
                manufactured industrial components and try to recreate them as highly detailed digital
                models. For operating the sensor two major aspects need to be covered.</p>
            <ol class="text-muted">
                <li>The sensor must move over the component to scan it entirely.</li>
                <li>Everytime the sensor captures some data it's pose in 3D space must be known.</li>
            </ol>
            <p class="text-muted text-justify">For covering both aspects a robotic arm will be used. We need
                your help to create a rudimentary software solution to integrate and operate the robot.
                After that it is possible to further improve the solution with motion path planning. We
                could even move towards fully autonomous on-the-fly path planning. Implementing the robot
                control is part of a larger vision to create a new measuring product. Your initial work will
                focus on the robotic arm entirely. In the long run the focus will shift towards the highest
                priority tasks contributing to the product vision.
            </p>
            <div class="job-image-vertical">
                <img src="/static/img/jobs/job_0001.jpg" class="img-responsive">
            </div>


            <h4>Requirements</h4>
            <ul class="text-muted">
                <li>you are a student in an IT related field or have practical experience in robotics
                    engineering
                </li>
                <li>you have practical experience in an object-oriented programming language &ndash; ideally
                    C++
                </li>
                <li>you have worked with some kind of version control before &ndash; ideally Git</li>
                <li>you know yourself around in Linux</li>
                <li>you can communicate in English</li>
                <li>you have the capacity and willingness to learn</li>
            </ul>
            <p class="text-muted text-justify">Nice to have:</p>
            <ul class="text-muted">
                <li>knowledge of inverse kinematics algorithms</li>
                <li>knowledge of functional programming concepts</li>
                <li>experience in agile methodology &ndash; Scrum, Kanban, OKR, ...</li>
                <li>you can communicate in German</li>
            </ul>

            <h4>How to apply</h4>
            <p class="text-muted text-justify">Please send a concise E-Mail to
                <a href="mailto:jobs@icy3d.com?subject=Robotics Engineer&body=Hello Icy3D, I'm ..."
                   target="_blank">jobs@icy3d.com</a>. You can write in English or German. Make sure you
                provide the following documents and information:</p>
            <ul class="text-muted">
                <li>your CV</li>
                <li>references &amp; work examples if available</li>
                <li>earliest possible date of entrance</li>
                <li>desired salary / hourly rate</li>
            </ul>
            <p class="text-muted">We will reply within 3 to 4 workdays.</p>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="mailto:jobs@icy3d.com?subject=Application as robotics engineer"
                       class="btn btn-primary"><i class="fa fa-envelope"></i> Apply</a>
                    <a id="job_0001_share" class="btn btn-primary" href="#job_0001_popup" rel="modal:open"><i
                            class="fa fa-share-alt"></i> Share</a>
                </div>
            </div>

            <div id="job_0001_popup" class="modal">
                <h5>Direct link to the job:</h5>
                <div class="row">
                    <div class="col-lg-9">
                        <div id="job_0001_link" class="well well-sm job-link">#job_0001</div>
                    </div>
                    <div class="col-lg-2 text-center">
                        <a class="btn btn-primary" onclick="onCopyClick('#job_0001_link');" rel="modal:close"><i
                                class="fa fa-copy"></i> Copy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>