<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="job_0003_title">
        <div class="row">
            <div class="col-sm-10">
                <i class="fa fa-2x fa-book text-primary job-icon"></i>
                <h2 class="job-title"><b>Accountant</b> &mdash; Book keeping and
                    assistence</h2>
            </div>
            <div class="col-sm-2 text-center">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#job_0003"
                        aria-expanded="false" aria-controls="job_0003">
                    Details
                </button>
            </div>
        </div>
    </div>
    <div id="job_0003" class="panel-collapse collapse" role="tabpanel" aria-labelledby="job_0003">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-user-graduate"></i>
                    <span>Professional</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-calendar-alt"></i>
                    <span>asap</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-clock"></i>
                    <span>2h/week</span>
                </div>
                <div class="col-sm-3 job-facts">
                    <i class="fas fa-map-marker-alt"></i>
                    <a href="https://goo.gl/maps/K16ePUpFuwnmfg4F6" target="_blank">Bonn</a>
                </div>
            </div>

            <h4>Description</h4>
            <h4>Requirements</h4>
            <h4>How to apply</h4>
            <button class="btn btn-primary" type="button">Apply</button>
            <button class="btn btn-primary" type="button">Share</button>
        </div>
    </div>
</div>