<section id="jobs" class="bg-primary jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Job Openings</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% include job_0001.html %}
            {% include job_0002.html %}
        </div>
    </div>
</section>
