<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="static/img/portfolio/car_inspection_robot.jpg" class="img-responsive"
                         alt="Car Inspection Robot">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Apodius / Hexagon MI
                            </div>
                            <div class="project-name">
                                3D reconstruction and inspection of carbon fibre parts
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="static/img/portfolio/auv.jpg" class="img-responsive" alt="Autonomous Underwater Vehicle">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Fraunhofer IAIS
                            </div>
                            <div class="project-name">
                                Autonomous Underwater Vehicle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="static/img/portfolio/warehouse_robots.jpg" class="img-responsive" alt="Warehouse robots">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                REWE Digital
                            </div>
                            <div class="project-name">
                                Warehouse automation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="static/img/portfolio/iot.jpg" class="img-responsive" alt="LTE-M IoT Prototyping">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                T-Systems International
                            </div>
                            <div class="project-name">
                                LTE-M IoT Prototyping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box embed-responsive" style="padding-bottom:53.83%">
                    <iframe src="https://www.youtube.com/embed/Oj6hIGeIDuo?rel=0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="embed-responsive-item" title="Mobile 3D reconstruction"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="javascript:void(0)" class="portfolio-box">
                    <img src="static/img/portfolio/ocr.jpg" class="img-responsive" alt="OCR scanner">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Cognotekt
                            </div>
                            <div class="project-name">
                                OCR optimization on legacy documents
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
