<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary"></i>
                    <h3>IT Consulting</h3>
                    <p class="text-muted text-justify">The most common projects arise from your daily business needs.
                        You have a rough idea about what you want to improve but require technical expertise on how to
                        get it done? Just make your challenges mine and I'll find multiple solutions fitting for every
                        budget.<br>And while having a look at your business processes I often times come up with
                        improvement potentials you haven't even thought about.
                        <a href="#contact" class="page-scroll">Find out!</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sitemap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Software Architecture</h3>
                    <p class="text-muted text-justify">There's no <i>one solution fits all</i>. But
                        there sure is plenty of opportunities to mess up a good idea. To build on top of a solid
                        foundation we'll have a thorough look at your company culture, what defines your teams,
                        where and how the solution will be used and how it might evolve. <a
                                href="https://youtu.be/CZ3wIuvmHeM?t=132" target="_blank">Microservices</a> or node-like
                        systems are winning concepts nowadays &mdash; <a href="#contact" class="page-scroll">do you also
                            want to get rid of your slow and barely changeable monolithic systems?</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-brain wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Artificial Intelligence</h3>
                    <p class="text-muted text-justify"><i>&quot;When your only tool is a hammer
                        everything looks like a nail&quot;</i> is not my style. Deep Learning peaked in 2018 on the <a
                            href="https://www.gartner.com/smarterwithgartner/5-trends-emerge-in-gartner-hype-cycle-for-emerging-technologies-2018/"
                            target="_blank">gartner hype cycle</a> and people started realizing that this technology
                        comes with a price - tons and tons of data. I love deep learning, its
                        capabilities are unmatched and many times the best performing solution. Often times however
                        heuristic solutions can be a better fit when looking at simplicity and liability. <a
                                href="#contact" class="page-scroll">Let's find out what AI solution fits your needs
                            best!</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center" style="clear:both">
                <div class="service-box">
                    <i class="fa fa-4x fa-code-fork wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Software Development</h3>
                    <p class="text-muted text-justify">Every concept can only be as good as its implementation. I'm
                        fluent in C/C++, C#, Python and Java plus the dockerized CI/CD toolchain on GitLab or GitHub.
                        I've got software running in the Amazon cloud but on embedded arm devices or tegra GPUs as well.
                        Every developer team has its own ways to develop software and I'm fast at adapting to your
                        team's standards. I might even bring along some neat tweaks for a mutual benefit. <a
                                href="#contact" class="page-scroll">Do you require a demo?</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-dice-d6 wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <!--                    <i class="material-icons md-48 wow bounceIn text-primary" data-wow-delay=".4s">3d_rotation</i>-->
                    <h3>3D Scanning</h3>
                    <p class="text-muted text-justify">Do you need an inspection system in your manufacturing plant with
                        laser precision? Or is it more of a real-time obstacle avoidance system for your autonomous car?
                        Or do you rather need a handheld solution via mobile phone? There are use cases requiring
                        external positioning systems where others require self-reliant <a target="_blank"
                                                                                          href="https://en.wikipedia.org/wiki/Simultaneous_localization_and_mapping">SLAM
                            methods</a>. Here is an
                        <a href="https://sketchfab.com/icy3d" target="_blank">example scanned via mobile phone</a>.
                        Tell me about <a href="#contact" class="page-scroll">your visions of solving scenarios in the
                            3rd dimension</a>.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Hardware Prototyping</h3>
                    <p class="text-muted text-justify"><i>&quot;People who are really serious about software should make
                        their own hardware.&quot;</i><br>&mdash; Steve Jobs</p>
                    <p class="text-muted text-justify">When working with multiple sensors it's often crucial
                        to have them precisely calibrated or mounted in a defined distance to the object. So in general
                        it's necessary to create a special piece of hardware for each use case. I design and 3D print
                        the mounts and casing in a modular fashion in regards to the requirements of each use case. <a
                                href="#contact" class="page-scroll">Where does your idea fit in?</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
