
.modal {
    overflow: initial;
    height: unset;
}

.job-title {
    margin: 0.25em 0 3em 0;
    font-size: 1.3em !important;
    display: inline;
}

.job-icon {
    padding-right: .5em;
}

.jobs .panel {
    animation: fadeInUp;
    animation-duration: 1s;
}

.jobs .panel-body {
    color: #222;
}

/* job-facts row */

.jobs .panel-body .row {
    padding: 15px 15px 0 15px;
    margin: -15px -15px 0 -15px;
}

.jobs .panel-body .row:first-child {
    background-color: #eee;
}

.jobs .panel-body h4 {
    font-weight: bold;
}

.job-facts {
    font-size: 1.1em;
    padding-left: 2em;
    margin-bottom: 1em;
}

.job-image-vertical {
    position: relative;
    display: block;
    cursor: default;
    max-width: 450px;
    margin: 0 auto;
}

.job-image-horizontal {
    position: relative;
    display: block;
    cursor: default;
    max-width: 650px;
    margin: 0 auto;
}

/*.job-facts{*/
/*    width: 100%;*/
/*    font-size: 1.0em;*/
/*}*/

/*.job-facts li {*/
/*    margin:0;*/
/*    width: 24.5%;*/
/*}*/
